@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}



<!-- Features Section -->
<section id="features1" class="py-5">
    <div class="container-fluid">
        <div class="row no-gutters">
            <!-- Feature 1 -->
            <div class="col-md-6">
                <div class="feature-item">
                    @{
                        var pic1 = Model.Value<IPublishedContent>("image1");
                        if (pic1 != null)
                        {
                            <img src="@pic1.Url()" class="img-fluid feature-image" alt="@pic1.Value("alt")" />
                        }
                        else
                        {
                            <img src="/path-to-default-image.jpg" class="img-fluid feature-image" alt="Default Image" />
                        }
                    }
                </div>
            </div>
            <!-- Feature 2 -->
            <div class="col-md-6">
                <div class="feature-item">
                    @{
                        var pic2 = Model.Value<IPublishedContent>("image2");
                        if (pic2 != null)
                        {
                            <img src="@pic2.Url()" class="img-fluid feature-image" alt="@pic2.Name" />
                         }
                        else
                        {
                            <img src="/path-to-default-image.jpg" class="img-fluid feature-image" alt="Default Image" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>  

<!-- Features Section -->
<section id="features2" class="py-5">
    <div class="container-fluid">
        <div class="row no-gutters">
            <!-- Feature 3 -->
            <div class="col-md-6">
                <div class="feature-item">
                    @{
                        var pic3 = Model.Value<IPublishedContent>("image3");
                        if (pic3 != null)
                        {
                            <img src="@pic3.Url()" class="img-fluid feature-image" alt="@pic3.Value("alt")" />
                        }
                        else
                        {
                            <img src="/path-to-default-image.jpg" class="img-fluid feature-image" alt="Default Image" />
                        }
                    }
                </div>
            </div>
            
        </div>
    </div>
</section>
